<footer class="footer__index">
    <div class="container__footer__index">
        <div class="footer__section">
            <h3>Sobre Nós</h3>
            <p>Universo da Sinuca é uma empresa dedicada a proporcionar a melhor experiência em jogos de mesa para você e sua família</p>
        </div>
        <div class="footer__section">
            <h3>Contato</h3>
            <p><span class="material-symbols-outlined">call</span> (81) 98554-9013</p>
            <p><span class="material-symbols-outlined">email</span> contato@universodasinuca.com</p>
            <p><span class="material-symbols-outlined">location_on</span> Rua dos Jogos, 123, Recife, PE</p>
        </div>
        <div class="footer__section">
            <h3>Redes Sociais</h3>
            <div class="footer__social__links">
                <a href="https://wa.me/+558185549013" style="text-decoration: none;" target="_blank">
                    <span>WhatsApp</span>
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z"
                                    fill="#ffffff" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z"
                                    fill="#ffffff" />
                            </g>
                        </svg>
                </a>
                 <a href="https://www.instagram.com/universodasinuca/" style="text-decoration: none;" target="_blank">
                    
                        <span>Instagram</span>
                        <span>
                            <svg width="25px" height="25px" viewBox="0 -0.5 25 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M15.5 5H9.5C7.29086 5 5.5 6.79086 5.5 9V15C5.5 17.2091 7.29086 19 9.5 19H15.5C17.7091 19 19.5 17.2091 19.5 15V9C19.5 6.79086 17.7091 5 15.5 5Z"
                                        stroke="#fefbfb" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.5 15C10.8431 15 9.5 13.6569 9.5 12C9.5 10.3431 10.8431 9 12.5 9C14.1569 9 15.5 10.3431 15.5 12C15.5 12.7956 15.1839 13.5587 14.6213 14.1213C14.0587 14.6839 13.2956 15 12.5 15Z"
                                        stroke="#fefbfb" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <rect x="15.5" y="9" width="2" height="2" rx="1" transform="rotate(-90 15.5 9)"
                                        fill="#fefbfb" />
                                    <rect x="16" y="8.5" width="1" height="1" rx="0.5" transform="rotate(-90 16 8.5)"
                                        stroke="#fefbfb" stroke-linecap="round" />
                                </g>
                            </svg>
                        </span>
                </a>
                <a href="https://www.facebook.com/universodasinuca" target="_blank">
                    
                </a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Universo da Sinuca. Todos os direitos reservados.</p>
    </div>
</footer>
