<header class="header__index">
    <div class="div-img">
        Universo da Sinuca
    </div>
    <div class="div-button">
        <button id="open-menu">
            <span class="material-symbols-outlined" style="font-size: 2.5em;">menu</span>
        </button>
        <button class="menu-no-action">
                <span class="material-symbols-outlined" style="font-size: 2.5em;">close</span>
        </button>
    </div>
    <nav class="nav__header__index">
         <button id="close-menu" class="close-menu-nav">
                <span class="material-symbols-outlined" style="font-size: 2.5em;">close</span>
        </button>
        <ul class="ul__header__index">
            <li>
                <span class="text">Login</span>
                <span class="material-symbols-outlined">person</span>
            </li>
            <li>
                <span class="text">Registro</span>
                <span class="material-symbols-outlined">language</span>
            </li>
            <li>
                <span class="text">Suporte</span>
                <span class="material-symbols-outlined">info</span>
                
            </li>
            <li>
                <span class="text">Quem somos</span>
                <span class="material-symbols-outlined">groups</span>
            </li>
            <div class="div-img">
                <span>Universo da Sinuca</span>
            </div>
        </ul>

    </nav>
    
</header>