{{>header}}
{{>shadow}}
<main class="main__404">
    <div class="container">
        <h1>Erro 404</h1>
        <p>Página não encontrada,sentimos muito D: </p>
        <a href="/">Volta para home</a>
    </div>
</main>

{{>footer}}